<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewBag.Title- Petopia</title>
	
	<!-- Bootstrap -->
	<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/Content/css/animate.css">
	<link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/Content/css/style.css" rel="stylesheet" />
	

	<!--jQuery UI-->
	@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">
	<link href="~/Content/Styles/main.css" rel="stylesheet">
	<link href="~/Content/Styles/responsive.css" rel="stylesheet">
	<link rel="shortcut icon" href="~/Content/Images/Ico/favicon.ico">*@


</head>

	
<header>		
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navigation">
			<div class="container">					
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="navbar-brand">
						<a href="@Url.Action("Index", "Home")"><h1><span>PET</span>OPIA</h1></a>
					</div>
				</div>
					
				<div class="navbar-collapse collapse">							
					<div class="menu">
						<ul class="nav nav-tabs" role="tablist">					        
							@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
							{
								<li role="presentation"><a href="@Url.Action("Admin", "Home")">Admin</a></li>
							}
							<li role="presentation"><a href="@Url.Action("Faq", "Other")">About Us</a></li>
							<li role="presentation"><a href="@Url.Action("Services", "Other")">Services</a></li>
							<li role="presentation"><a href="@Url.Action("Contact", "Home")">Contact</a></li>

							<li>@Html.Partial("_LoginPartial")</li>
						</ul>
						
					</div>
				</div>						
			</div>
		</div>	
	</nav>		
</header>

<body>
<hr/>
<div class="container body-content">
	@RenderBody()
	<hr/>
	<footer>
		<div class="footer">
			<div class="container">
				<div class="social-icon">
					<div class="col-md-4">
						<ul class="social-network">
							<li><a href="#"  title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"  title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"  title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"  title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"  title="You Tube"><i class="fa fa-youtube-play"></i></a></li>
						</ul>	
					</div>
				</div>
				
				<div class="col-md-4 col-md-offset-2">
					<div class="copyright">
						&copy; PETOPIA 2017 All Rights Reserved.
					</div>
				</div>
			</div>						
		</div>
			
		<div class="pull-right">
			<a href="#" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
		</div>
	</footer>
</div>
	





<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<!--jQuery UI-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-2.1.1.min.js"></script>	
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.isotope.min.js"></script>  
<script src="js/wow.min.js"></script>
<script src="js/functions.js"></script>
@RenderSection("scripts", required: false)

</body>
</html>
