@model ThePetResort.DAL.Type

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Details</li>
        </ol>
    </div>
</div>

<div>
    <h4>Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsExotic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsExotic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
